* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("https://i.pinimg.com/736x/af/17/0d/af170d020f26f1be25018f13386d9b15.jpg");
  background-position: center;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #6d75c4, #3761b5);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input {
  border: 0;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: #2a2222;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  background: #0850eb;
  border-radius: 50%;
  cursor: pointer;
}
.search button img {
  width: 25px;
  justify-content: center;
  align-items: center;
}

.weather-icon {
  width: 170px;
  height: 170px;
  margin-top: 30px;
  object-fit: contain;
}

.weather h1 {
  font-size: 70px;
  font-weight: 500;
}
.weather h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 15px;
}

.humidity,
.wind {
  font-size: 18px;
  margin-top: -10px;
}

.weather {
  display: none;
}

.error {
  display: none;
  margin-top: 20px;
  background-color: #ff4c4c;
  padding: 10px;
  border-radius: 5px;
}
